<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Submit a form to add an event</h1>

    <!-- <p>
        <%= data.customer %>
        <%= data.phone %>
        <%= data.addr %>
        <%= data.size %>
        <%= data.due %>
        <%= data.instructions %>
    </p> -->

<h2>POST</h2>

<form class="example"
      id="addevent-form"
      method="POST"
      enctype="multipart/form-data"
      action="/addevent">
  <p><label>Event name: <input name="eventName" value="<%= data.eventName %>"></label></p>
  <p><label>Organizer name: <input name="idOrganizer" value="<%= data.idOrganizer %>"></label></p>
  <p><label>Date: <input type="date" name="date" value="<%= data.date %>"></label></p>
  <p><label>Start Time: <input type="time" name="startTime" value="<%= data.startTime %>"></label></p>
  <p><label>End Time: <input type="time" name="endTime" value="<%= data.endTime %>"></label></p>
  <p><label>Location: <input name="location" value="<%= data.location %>"></label></p>
  <p>
    <label>file
        <input type="file" accept="image/*" name="image" >
    </label>
  </p>
  <p><label>Tags:
      <label><input type="checkbox" name="tags" value="21+">21+</label>
      <label><input type="checkbox" name="tags" value="Food">Food</label>
      <label><input type="checkbox" name="tags" value="On Campus">On Campus</label>
      <label><input type="checkbox" name="tags" value="Off Campus">Off Campus</label>
      <label><input type="checkbox" name="tags" value="Athletics">Athletics</label>
      <label><input type="checkbox" name="tags" value="Org Event">Org Event</label>
        <!-- Add more tags as needed -->
  </label></p>
  <p><button type="submit">Create Event</button></p>
</form>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>


