<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOME</title>
  <link rel='stylesheet' href="/styles.css">
  <script src="/main.js"></script>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <h1>Welcome, <%= username %>! Here are some events</h1>
  <%- include("partials/searchbar.ejs") %>
  <%- include("partials/filterbar.ejs") %>
  <ol>
    <% events.forEach( (evt) => {%>
    <li><%= evt.name %></li>
    <% }); %>
  </ol>
</body>

</html>
