<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOME</title>
  <link rel='stylesheet' href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/main.js"></script>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <h1>Welcome, <%= username %>! Here are some events</h1>
  <%- include("partials/flash.ejs") %>
  <%- include("partials/searchbar.ejs") %>
  <%- include("partials/filterbar.ejs") %>
  <% if( events.length == 0 ) { %>
    <p>Your search did not produce any results, please try again.</p>
  <% } else { %>
    <div class="events-grid">
      <% events.forEach( (evt) => { %>
        <li class="event-details" data-id="<%= evt?.eventId %>">
          <h2><%= evt.eventName %></h2>
          <img src="<%= evt?.image[0] %>" alt="Event Image" width="300">
          <p><strong>Organizer:</strong> <%= evt?.nameOfOrganizer %></p>
          <p><strong>Location:</strong> <%= evt?.location %></p>
          <p><strong>Date:</strong> <%= new Date(evt?.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
          <p><strong>Time:</strong> <%= formatTime(evt?.startTime) %>-<%= formatTime(evt?.endTime) %></p>
          <% function formatTime(timeString) {
            const [hours, minutes] = timeString.split(':');
            const hour = parseInt(hours, 10);
            const minute = parseInt(minutes, 10);
            const suffix = hour >= 12 ? 'pm' : 'am';
            const formattedHour = hour % 12 || 12; // Convert 0 to 12
            return `${formattedHour}:${minute.toString().padStart(2, '0')}${suffix}`;
          } %>
          <p><strong>Tags:</strong> <%= Array.isArray(evt.tags) ? (evt.tags.length === 1 ? evt.tags[0] : evt.tags.join(', ')) : evt.tags %></p>
          <p><strong>Attendees:</strong> <%= evt?.attendees.join(', ') %></p>
          <!-- <p><strong>Venmo:</strong> <%= evt?.venmo %></p>
          <p><strong>Google Calendar:</strong> <%= evt?.gcal %></p>
          <p><strong>Spotify:</strong> <%= evt?.spotify %></p> -->
          <!-- <form method="POST" action="/rsvp">
            <label>RSVP to this event: <input type="submit" value="yes"></label>
            <input type="hidden" name="eventId" value="<%= evt?.eventId %>">
          </form> -->
          <p>
            <label>RSVP to the event: </label>
            <% if (user.rsvp &&user.rsvp.includes(evt.eventId)) { %>
              <button class="rsvpBtn" type="button" disabled="true" >RSVPed</button> 
            <% } else { %>
              <button class="rsvpBtn" type="button">RSVP</button>
            <% } %>
          </p>
          <p>
            <label>Interested in the event: </label>
            <% if (user.saved &&user.saved.includes(evt.eventId)) { %>
              <button class="saveBtn" type="button" disabled="true" >Saved</button>
            <% } else { %>
              <button class="saveBtn" type="button">Save</button>
            <% } %>
          </p>
          
        </li>
      <% }); %>
    </div>
  <% } %>

 
</body>

</html>
