<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Page</title>
  <link rel='stylesheet' href="/styles.css">
  <script src="/main.js"></script>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <h1>You are <%= username %>!</h1>


  <form method="POST" action="/update/">
    <table>
    <tbody>
    <tr>
    <td><label for="User">Username</label></td>
    <td>
    <input name="username" value="<%= username %>">
    </td>
    </tr>
    <tr>
      <td><label for="wellesleyEmail">Email</label></td>
      <td>
      <input name="wellesleyEmail" value="<%= userData.wellesleyEmail%>">
      </td>
    </tr>
    <tr>
      <td><label for="name">Name</label></td>
      <td>
      <input name="name" value="<%= userData.name%>">
      </td>
    </tr>
    <tr>
      <td><label for="friends">Friends</label></td>
      <td><%= userData.friends.length%></td>
    </tr>
    </tbody></table>
    <input class = "bottomButtons" type="submit" value="update">
  </form>

  <h1>Add Friends</h1>
  <%- include("partials/searchFriends.ejs") %>

  <p>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </p>
  
</body>

</html>
